$color-white: #E7ECEF;
$color-black: #272932;
$color-primary: #4E878C;
$color-secondary: #65B891;
$color-tertiary: #97DB4F;
$color-gray-dark: #4D5359;
$color-gray-border: #cecece;
$color-gray-light: #b8b8b8;
$color-gray-thin: #e9e9e9;

$color-image-required: rgb(255, 180, 172);
$color-image-not-required: rgb(240, 226, 102);

$delete-button-color: rgb(250, 128, 114);
$input-background-color: rgba(#000, .5);