.home {
    .search-select-product {
        width: 30%;
        padding: 1rem;
    }

    .photo-loader {
        height: calc(100% - 2rem);
        overflow: auto;
    }

    .details-bar {
        .section {
            &-bar {
                height: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 1rem;
                border: 1px solid $color-gray-border;
                cursor: pointer;

                p {
                    font-size: .85rem;
                }
            }

            &-info {
                height: 0;
                transition: height .3s ease-in;
            }

            .expanded {
                height: 60.6vh;
                transition: height .3s ease-in;
                overflow: auto;

                .item-details {
                    padding: 1rem;
                }
            }
        }
    }

    .error-message {
        margin-top: .5rem;
        font-size: .8rem;
        color: rgb(209, 77, 77);
    }

    .ebay-details {
        padding: 1rem;

        .select-product {
            margin-bottom: 1rem;
        }
    }

    .combo-box {
        width: 100%;
        position: relative;
        margin-bottom: 1rem;

        .title {
            font-size: .8rem;
            margin-bottom: .3rem;
        }

        & > input {
            width: 90%;
            border: 1px solid $color-gray-light;
            border-radius: .3rem;
            padding: .5rem;
            outline: none;
        }

        .input {
            width: 94%;
            border: 1px solid $color-gray-light;
            border-radius: .3rem;
            
            input {
                width: 91%;
                padding: .5rem;
                outline: none;
                background-color: transparent;
                border: none;
            }
        }

        .error {
            border: 1px solid rgb(221, 40, 40);
        }

        .error-text {
            margin-top: .25rem;
            font-size: .8rem;
            color: rgb(221, 40, 40);
        }

        .options {
            width: 97%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border: 1px solid $color-gray-border;
            border-radius: .4rem;
            z-index: 999;
            height: fit-content;
            max-height: 8rem;
            overflow: auto;
            
            .option {
                padding: .75rem 1rem;
                border-bottom: 1px solid $color-gray-border;
                font-size: .8rem;
                cursor: pointer;
            }

            .search-input {
                width: 100%;
                input {
                    width: 100%;
                    padding: .5rem 1rem;
                    border: none;
                    background-color: #f1f1f1;
                    border-radius: .3rem;
                    outline: none;
                }
            }

            .empty-text {
                padding: 1rem;
                font-size: .8rem;
            }
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .title {
            margin-right: .5rem;
            font-size: .8rem;
        }

        .switch {
            appearance: none;
            height: 1rem;
            width: 2rem;
            background-color: $color-gray-border;
            cursor: pointer;
            border-radius: 1em;
            position: relative;
            transition: background-color 0.3s ease;
          }
          
          .switch::before {
            content: "";
            height: .7rem;
            width: .7rem;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            transition: transform 0.3s ease, border-color 0.3s ease;
            margin-top: .15rem;
            margin-left: .2rem;
          }
          
          .switch:checked {
            background-color: $color-secondary;
          }
          
          .switch:checked::before {
            transform: translateX(.8rem);
          }
    }

    button {
        appearance: none;
        border: none;
        background-color: $color-secondary;
        border-radius: .3rem;
        padding: .5rem;
        color: #fff;
    }
}

.transparent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.select-product {
    margin-bottom: 1rem;
    z-index: 999;

    .select__control {
        border: none;
        box-shadow: 0 0 0 1px $color-secondary;

        &:hover {
            border-color: $color-secondary;
        }
    }

    .select__menu {
        &-list {
          .select__option {
            cursor: pointer;
            &--is-focused {
              background-color: rgba($color-secondary, 0.3);
            }
  
            &--is-selected {
              background-color: $color-secondary;
            }
          }
        }
    }
}