.editor {
    .image-placement {
        border: 1px solid $color-gray-border;
        margin-bottom: .5rem;
        border-radius: .5rem;
        
        .images-container {
            width: 100%;
            height: 20vh;
            transition: all .2s ease-in-out;
            padding-block: .5rem;

            .images-list {
                height: 100%;
                padding-inline: 1rem;
                width: 94.5%;
                overflow-x: auto;
                overflow-y: hidden;
                display: flex;
                align-items: center;

                .image-holder {
                    height: 100%;
                    aspect-ratio: 1;
                    border: 1px solid $color-gray-border;
                    margin-right: 1rem;
                    position: relative;

                    .delete-icon {
                        position: absolute;
                        top: .25rem;
                        right: .5rem;
                        display: none;
                        padding: .3rem;
                        background-color: $delete-button-color;
                        color: #fff;
                        border-radius: 50%;
                    }

                    .collapse-icon {
                        position: absolute;
                        top: .25rem;
                        left: .5rem;
                        display: none;
                        padding: .3rem;
                        background-color: $color-tertiary;
                        color: #fff;
                        border-radius: 50%;
                    }

                    .input {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        padding-block: .2rem;
                        background-color: $input-background-color;

                        input {
                            width: 60%;
                            padding: 0;
                            border: none;
                            background-color: transparent;
                            padding-inline: .5rem;
                            outline: none;
                            color: #fff;
                        }

                        .required {
                            color: #fff;
                            margin-right: .5rem;
                        }
                    }

                    &:hover {
                        .delete-icon {
                            display: block;
                            cursor: pointer;
                        }

                        .collapse-icon {
                            display: block;
                            cursor: pointer;
                        }
                    }

                    .image-zone {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 88%;
                            height: 80%;
                            object-fit: cover;
                            margin-top: -.75rem;
                        }

                        svg {
                            width: 50%;
                            height: 50%;
                            object-fit: cover;
                            color: #999999;
                            transform: translateY(-10%);
                        }
                    }

                    .edit-icon {
                        cursor: pointer;
                        color: #fff;
                    }

                    .require {
                        background-color: $color-image-required;
                    }

                    .not-require {
                        background-color: $color-image-not-required;
                    }

                    .selected-image {
                        background-color: $color-secondary;
                    }
                }

                .selected {
                    border: 2px solid $color-primary;
                }
                
                .shrink {
                    width: 1rem;
                    background-color: $color-tertiary;
                    border: none;
                    margin-right: .5rem;
                    position: relative;
                    cursor: pointer;

                    img, .input, .delete-icon, .collapse-icon {
                        transform: scale(0);
                    }

                    .expand-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .collapse {
            height: 0;
            transition: all .2s ease-in-out;

            .images-list {
                opacity: 0;
                transition: all .2s ease-out;
            }
        }
    }

    .image-editor {
        border: 1px solid $color-gray-border;
        border-radius: .5rem;

        .photo-editor {
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding-bottom: 1rem;

            .crop-container {
                height: 90%;
            }

            .cropper-options {
                width: 90%;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                & > svg {
                    &:first-child {
                        margin-right: 1rem;
                    }

                    &:last-child {
                        margin-left: 1rem;
                    }
                }
                
                svg {
                    cursor: pointer;
                }

                .crop-modal {
                    width: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $color-gray-dark;
                    border-radius: .5rem;
                    padding: .5rem 1.5rem;
                    color: #fff;

                    p {
                        font-size: .9rem;
                        margin-right: .5rem;
                    }

                    .dimensions, .zoom-box {
                        display: flex;
                        align-items: center;

                        .zoomer {
                            cursor: pointer;
                        }
                    }

                    .crop-move {
                        display: flex;
                        align-items: center;
                        
                        & > svg {
                            margin-right: .5rem;
                        }

                        .active {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}