.product-grid {
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .5rem;
    grid-column-gap: .5rem;

    .image-container {
        position: relative;

        & > img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .delete-icon, .add-icon {
            position: absolute;
            top: .5rem;
            right: .5rem;
            display: none;
            cursor: pointer;
            color: #fff;
            padding: .3rem;
            background-color: #666666;
            border-radius: 50%;
        }

        .add-icon {
            top: unset;
            bottom: .5rem;
        }

        &:hover {
            .delete-icon {
                display: block;
            }

            .add-icon {
                display: block;
            }
        }
    }

    .drag-on {
        & > img {
            transform: scale(1.1);
        }

        .delete-icon {
            display: none;
        }
    }
}

.drag-over {
    // background-color: $color-secondary;
}