.main-layout {
    height: 81vh;
    overflow: hidden;
    border-top: 1px solid $color-primary;
    padding: 1rem;
}

.panel-container {
    display: flex;
    height: 100%;
  }
  
.panel {
    background: white;
    padding-inline: 1rem;
    transition: all .2s ease-in-out;

    
}

.container {
    height: 100%;
    border: 1px solid $color-gray-border;
    border-radius: .5rem;
    overflow: hidden;
}

.header {
    background-color: $color-primary;
    color: #fff;
    padding: .5rem 2rem;
    border-top-left-radius: .45rem;
    border-top-right-radius: .45rem;
    position: relative;

    h6 {
        font-weight: 300;
    }

    & > svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.image-editor-section {
    border: none;
}

.hide-panel {
    width: 0 !important;
    min-width: 0 !important;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.resizer {
    width: .5rem !important;
    border: 1px solid $color-gray-border;
    background-color: #fff;
    margin-inline: .2rem;
    border-radius: .3rem;
    position: relative;
    cursor: col-resize;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
        color: $color-primary;
    }
}

.collapse {
    width: 0 !important;
    display: none;
}

.expand-bar {
    width: 1rem;
    height: 100%;
    border: 1px solid $color-gray-border;
    background-color: #fff;
    margin-inline: .2rem;
    border-radius: .3rem;
    position: relative;
    cursor: col-resize;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

.flex {
    height: 100%;
    display: flex;
}

.hide-column {
    display: none;
}