.navbar {
    height: 3rem;
    background-color: $color-secondary;
    padding-inline: 2rem;
    display: flex;
    align-items: center;

    .logo {
        color: #fff;
        cursor: pointer;

        p {
            font-weight: 900;
            font-size: 1rem;
        }
    }

    .nav-list {
        display: flex;
        align-items: center;
        padding-left: 5%;

        .nav-item {
            font-weight: 300;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}